.img-fit{
  object-fit: cover;
  height: 400px;
}

.char-card{

  border: 2px solid rgba(0, 0, 0, 0) !important;
  cursor: pointer;
}

.char-card:hover{
  box-shadow: 4px 4px 15px #00000086;
}
.char-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
